<div class="top-space">


  <nav class="navbar navbar-dark bg-dark ">
    <span class="navbar-brand">Respostas de Missoes</span>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </nav>

</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>USUARIO</th>
    <th>MISSÕES</th>
    <th>ESTADO</th>
    <th>AÇÃO</th>
  </tr>
  <tr>
    <td>#1</td>
    <td>Adiel Andrade Rocha (adielandrade@hotmail.com) </td>
    <td>Nessa Missao voce deve fazer o frontend mais incrivel do mundo</td>
    <td>pedente</td>
    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="openLg(resposta)">Avaliar</button>
    
    </td>
  </tr>
  <tr>
    <td>#2</td>

    <td>Artur Andrade Rocha (arturandrade@hotmail.com) </td>

    <td>Nessa Missao voce deve fazer o frontend mais incrivel do mundo</td>

    <td>valida</td>

    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="openLg(resposta)">Avaliar</button>

    </td>
  </tr>
</table>




<ng-template #resposta let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Resposta</h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

  </div>


</ng-template>
